html {
  height: 100%;
}
body{
    font-family: Lato;
    height: 100vh;
  }
section{
  display: block;
}

@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}