body{
    font-family: Lato;
  }

/* Landing Page */
#welcome{
    height: 50vw;
    width: 100%;
    overflow: hidden;
}
#landing-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1 !important;
}