<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
    <section class="container-fluid fixed-top w-100" 
    style="
    height: 800px;
    z-index:-1;">
        <div class="row mx-auto my-auto w-100" 
        style="
        height:800px;
        display: flex;
        justify-content: left;
        align-items: left;">
            <!-- Image -->
            <img src="{{url_for('static', filename='img/4.jpg')}}" 
            class="fixed-top"
            style="
            height: 100%;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1 !important;">
            <!-- Text -->
            <div class="col-lg-6 col-sm-10 my-auto m-1 pb-5 
            text-white align-left
            animate__animated animate__fadeInLeft">
                <h6>Hi, I'am Alex!</h6>
                <h2>Digital Marketeer</h2>
                <h3>E-commerce Specialist</h3>
                <h1>Weekend Programmer</h1>
                <hr>
                <h6>
                    Welcome to my portfolio site (we have been expecting you!)
                    - here I display my weekend projects & other techy things in the future who knows.
                </h6>
            </div>
        </div>
    </section>
{% endblock body %}