<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<section id="" class="container-fluid mt-0" 
style="
height:300px;
padding:0;">
    <div class="row mx-auto my-auto w-100 h-100 mt-0"
    style="
      display: flex;
      justify-content: center;
      align-items: center;">
        <!-- Image Banner -->
        <img id=""
        src="{{url_for('static', filename='img/lights.jpg')}}" 
        class="w-100 mt-0"
        style="
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;">
        <!-- Text Banner -->
        <h1 class="text-center my-auto mx-auto mt-2 text-white"
        style="position:absolute;">
            Coding Projects
        </h1>
    </div>
</section>
<section class="container" 
style="">
{% for project in projects %}
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            {% if project.img_teaser != 0 %}
            <img id=""
            src="{{project.img_teaser}}">
            {% endif %}
          <span class="card-title w-100 black"
          style="opacity:0.8;">
            <h3>{{project.title}}</h3>
          </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <h6>Category | {{project.category}}</h6>
            <p>
                {{project.description}}
                <!-- <a href="#"> Read more</a> -->
            </p>
            <h6><i class="fas fa-code"></i> Languages: {{project.languages|join(', ')}}</h6>
            <h6><i class="fas fa-tools"></i> Tools: {{project.tools|join(', ')}}</h6>
        </div>
      </div>
    </div>
  </div>
        <!-- <a href="{{url_for('show_project', project_id=project._id)}}"><i class="fas fa-chevron-right"></i> Read More Here </a> -->
        <!-- {% if project.link != "" %}
        <a href="{{project.link}}" target="_blank"><i class="fas fa-chevron-right"></i> Visit Live Site</a>
        {% else %}
        <p><i class="fas fa-times"></i> No Preview Available</p>
        {% endif %} -->
{% endfor %}

</section>
{% endblock body %}