<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<section id="" class="container-fluid mt-0" 
style="
height:300px;
padding:0;">
    <div class="row mx-auto my-auto w-100 h-100 mt-0"
    style="
      display: flex;
      justify-content: center;
      align-items: center;">
        <!-- Image -->
        <img id=""
        src="{{url_for('static', filename='img/4.jpg')}}" 
        class="w-100 mt-0"
        style="
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;">
        <!-- Text -->
        <h1 class="text-center my-auto mx-auto mt-2"
        style="position:absolute;">
            Coding Projects
        </h1>
    </div>
</section>
<section class="container" 
style="">
{% for project in projects %}
{% if loop.index % 2 != 0 %}
<div class="row bg-white m-1 my-5 p-2 animate__animated animate__fadeInLeftBig">
    <!-- Teaser Image LEFT -->
    <div class="col-lg-6 py-2 mx-auto my-auto">
        {% if project.img_teaser != 0 %}
        <img id=""
        class="responsive-img my auto mx-auto p-1"
        style="height:300px;"
        src="{{project.img_teaser}}">
        {% endif %}
    </div>
    <!-- Teaser Text -->
    <div class="col-lg-6 py-5 mx-auto my-auto grey lighten-4">
        <h6>Category | {{project.category}}</h6>
        <h3>{{project.title}}</h3>
        <p>
            {{project.description}}
            <!-- <a href="#"> Read more</a> -->
        </p>
        <h6><i class="fas fa-code"></i> Languages: {{project.languages|join(', ')}}</h6>
        <h6><i class="fas fa-tools"></i> Tools: {{project.tools|join(', ')}}</h6>
        <hr class="col-3">
        <!-- <a href="{{url_for('show_project', project_id=project._id)}}"><i class="fas fa-chevron-right"></i> Read More Here </a> -->
        {% if project.link != "" %}
        <a href="{{project.link}}" target="_blank"><i class="fas fa-chevron-right"></i> Visit Live Site</a>
        {% else %}
        <p><i class="fas fa-times"></i> No Preview Available</p>
        {% endif %}
    </div>
    <hr>
</div>
{% else %}
<div class="row bg-white m-1 my-5 p-2 pt-3 animate__animated animate__fadeInRightBig">
    <!-- Teaser Text -->
    <div class="col-lg-6 py-5 mx-auto my-auto grey lighten-4">
        <h6>Category | {{project.category}}</h6>
        <h3>{{project.title}}</h3>
        <p>
            {{project.description}}
            <!-- <a href="#"> Read more</a> -->
        </p>
        <h6><i class="fas fa-code"></i> Languages: {{project.languages|join(', ')}}</h6>
        <h6><i class="fas fa-tools"></i> Tools: {{project.tools|join(', ')}}</h6>
        <hr class="col-3">
        <!-- <a href="{{url_for('show_project', project_id=project._id)}}"><i class="fas fa-chevron-right"></i> Read More Here </a> -->
        {% if project.link != "" %}
        <a href="{{project.link}}" target="_blank"><i class="fas fa-chevron-right"></i> Visit Live Site</a>
        {% else %}
        <p><i class="fas fa-times"></i> No Preview Available</p>
        {% endif %}
    </div>
    <hr>
    <!-- Teaser Image RIGHT -->
    <div class="col-lg-6 py-2 mx-auto my-auto">
        {% if project.img_teaser != 0 %}
        <img id=""
        class="responsive-img my auto mx-auto p-1"
        style="height:300px;"
        src="{{project.img_teaser}}">
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}

</section>
{% endblock body %}